
<footer class="footer-area  pt-5 pb-4" id="contact" style="background-color: rgb(255, 200, 200);">
    <div class="container-fluid d-flex justify-content-center align-items-center flex-column">
      <div class="row "> 
        <!-- Location -->
        <div class="col-md-3 mb-4 text-black">
          <h5 class="text-uppercase mb-3 text-black">Our Location</h5>
          <p class="text-black">123 Web Street,<br class="text-black">Gurgaon, Haryana<br class="text-black">India - 122001</p>
        </div>
  
        <!-- Contact Info -->
        <div class="col-md-3 mb-4">
          <h5 class="text-uppercase mb-3 text-black">Contact Us</h5>
          <p class="text-black"><i class="fa fa-phone me-2 text-black"></i> +91 98765 43210</p>
          <p class="text-black"><i class="fa fa-envelope me-2 text-black"></i> support@example.com</p>
          <p class="text-black"><i class="fa fa-globe me-2 text-black"></i> www.example.com</p>
        </div>
  
        <!-- Subscribe -->
        <div class="col-md-3 mb-4">
          <h5 class="text-uppercase mb-3 text-black">Subscribe</h5>
          <form action="#">
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Your email" required>
              <button class="btn btn-primary " type="submit ">Subscribe</button>
            </div>
          </form>
        </div>
  
        <!-- Contact Form -->
        <div class="col-md-3 mb-4">
          <h5 class="text-uppercase mb-3 text-black">Send Message</h5>
          <form action="#" method="post">
            <input type="text" class="form-control mb-2" placeholder="Name" required>
            <input type="email" class="form-control mb-2" placeholder="Email" required>
            <textarea class="form-control mb-2" rows="2" placeholder="Message" required></textarea>
            <button class="btn btn-outline-light w-100" type="submit">Send</button>
          </form>
        </div>
      </div>
  
   
  
      <div class="row container-fluid ">
        <hr class="border-light">
        <div class="col text-center">
          <p class="mb-0 text-black">© 2025 Digital start. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  


  <!-- Scripts -->
  <script src="/user/vendor/jquery/jquery.min.js"></script>
  <script src="/user/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/user/assets/js/owl-carousel.js"></script>
  <script src="/user/assets/js/animation.js"></script>
  <script src="/user/assets/js/imagesloaded.js"></script>
  <script src="/user/assets/js/templatemo-custom.js"></script>

</body>
</html>